body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.logo-web {
  font-family: 'Releway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio {
  text-decoration: none;
  color: #2e2f42;
}
nav {
  list-style: none;
}
address {
  font-style: normal;
}
.address-link {
  list-style: none;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}
.address-link:hover,
.address-link:focus {
  text-decoration: none;
  color: #404bbf;
}
.section {
  background-color: #2e2f42;
}
.section-text {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
button {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.section-second {
  list-style: none;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-three {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-three-list {
  list-style: none;
}
.section-four {
  background-color: #f4f4fd;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-four-list {
  list-style: none;
  background-color: #ffffff;
}
footer {
  background-color: #2e2f42;
}
