body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
link .logo {
  text-decoration: none;
}
.logo span {
  color: #2e2f42;
}
.footer span {
  color: #f4f4fd;
}
studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.studio {
  text-decoration: none;
}
.studio:hover,
.studio:focus {
  color: #404bbf;
}
address {
  font-style: normal;
}
.address-list {
  list-style: none;
}
.contact-list {
  list-style: none;
}
.address-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.adress.link {
  text-decoration: none;
}
.address-text:hover {
  color: #404bbf;
}
.address-text:focus {
  color: #404bbf;
}
.section {
  background-color: #2e2f42;
}
.titel {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
}
.button:hover {
  color: #404bbf;
}
.button:focus {
  color: #404bbf;
}
strategy {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  list-style: none;
}
list strategy {
  list-style: none;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.doing {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  list-style: none;
}
list doing {
  list-style: none;
}
.team {
  background-color: #f4f4fd;
}
.ul-list {
  list-style: none;
}
.people {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
list people {
  list-style: none;
}
.footer {
  background-color: #2e2f42;
}
.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
list nav {
  list-style: none;
}
address list {
  list-style: none;
}
